
node_modules
# OS
.DS_Store

*.env
back/src/config/configuration.ts
dist

# Local .terraform directories
**/.terraform/*

# tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json

# no creds
*.pem

# terraformrc file
terraform.rc
.terraformrc