node_modules
# OS
.DS_Store

*.env
*.env.*
dist


# Local .terraform directories
**/.terraform/*

# tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json

# no creds
*.pem

# terraformrc file
terraform.rc
.terraformrc

test.md
key.md

# Build directory
build